*{
    margin: 0;
    padding: 0;
}

/*                      BARRA DE ROLAGEM      */
::-webkit-scrollbar{
    width: 5px;
    background-image: linear-gradient(180deg, #262318, #190d18, #17022e);
}
                        
::-webkit-scrollbar-thumb{
    width: 10px;
    border-radius: 20px;
    background-color: white;
}
/*                      FIM DA BARRA DE ROLAGEM      */

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    color: white;
    font-family: open_sans;
}

@font-face{
    font-family: open_sans;
    font-size: 50px;
    src: url(Font_da_pagina/Ubuntu-Italic.woff);
}

header{
    width: 100%;
    height: 50px;
    background: #262318;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

nav img{
    width: 5%;
    height: 100%;
}

nav ul{
    width: 35%;
    height: 20%;
    margin: auto;
    display: flex;
    border-radius: 20px;
    align-items: baseline;
    list-style-type: none;
    justify-content: center;
}

nav li{
    width: 100%;
    margin-left: 5px;
    text-align: center;
    align-items: center;
}

nav a{
    width: 100%;
    display: flex;
    color: white;
    font-size: 90%;
    font-weight: bolder;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
    justify-content: center;
}

main{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #262318, #190d18, #17022e);
}

#caixa1{
    width: 100%;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(180deg, #262318, #110018, #17022e);
}

#caixa1 p{
    width: 100%;
    color: white;
    font-size: 100%;
    font-weight: 900;
    text-align: center;
    align-items: center;
}

#Sobre_mim{
    width: 30%;
    height: 25%;
    font-size: 20px;
    margin-top: -190px;
    margin-left: 10%;
    color:aliceblue;
    align-items: center;
    text-align: center;
}

#Sobre_mim p{
    color: #bac700;
    margin-bottom: 20px;
}

#Eu_mesmo{
    width: 15%;
    height: 50%;
    min-width: 320px;
    margin-top: -70px;
}

#Icones{
    width: 100%;

}

#Icones button{
    width: 80px;
    height: 25px;
    border: none;
    margin-top: 5px;
    border-radius: 20px;
    background: #87CEFA;
}

#Icones a{
    width: 100%;
    height: 100%;
    display: flex;
    color: black;
    font-size:larger;
    text-align: center;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

                                            /*           CAIXA 2           */
#caixa2{
    width: 100%;
    display: flex;
    height: 640px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background: #17022e;
    justify-content: center;
}

#caixa2 h2{
    width: 100%;
    color: #bac700;
    padding-left: 30px;
    text-align: center;
}

.principal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Conteiner, .Conteiner2, .Conteiner3, .Conteiner4{
    width: 25%;
    height: 23%;
    min-height: 90px;
    min-width: 310px;
    margin-left: 20px;
    position: relative;
    align-items: center;

}

/*    justify-content: space-around;*/

.Conteiner:hover .flip{
    transform: rotateY(180deg);
}

.Conteiner2:hover .flip{
    transform: rotateY(180deg);
}

.Conteiner3:hover .flip{
    transform: rotateY(180deg);
}

.Conteiner4:hover .flip{
    transform: rotateY(180deg);
}

.flip{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    transform-style: preserve-3d;
}

.frente, .tras, .frente2, .tras2, .frente3, .tras3, .frente4, .tras4{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    backface-visibility: hidden;
    box-shadow: 0px 0px 10px #ffffff8e;
}

.frente{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Imagens/Game_Descobrir_numero.png);
}

.frente2{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Imagens/IMC.png);
}

.frente3{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Imagens/Cronômetro.png);
}

.frente4{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Imagens/Consultar-CEP.png);
}

.tras, .tras2, .tras3, .tras4{
    display: flex;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    background: #1b3448;
    justify-content: center;
    transform: rotateY(180deg);
}

                                    /*  CONFIGURAÇÃO FRENTE  */
.frente a{
    top: 85%;
    left: 20%;
    color: white;
    position: absolute;
    text-decoration: none;
}

.frente2 a{
    top: 85%;
    left: 20%;
    color: white;
    position: absolute;
    text-decoration: none;
}

.frente3 a{
    top: 85%;
    left: 35%;
    color: white;
    position: absolute;
    text-decoration: none;
}

.frente4 a{
    top: 85%;
    left: 35%;
    color: white;
    position: absolute;
    text-decoration: none;
}

                                    /*  CONFIGURAÇÃO ATRAS  */
                                    /*  ATRAS GAME  */

.tras p{
    width: 100%;
    height: 90%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tras a{
    width: 20%;
    height: 10%;
    transition: 1s;
    border-top: 1px;
    color: aliceblue;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
}

                                    /*  ATRAS IMC  */
.tras2 p{
    width: 100%;
    height: 90%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tras2 a{
    width: 20%;
    height: 10%;
    border-top: 1px;
    color: aliceblue;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
    transition: 1s;
}

                                    /*  ATRAS ??  */
.tras3 p{
    width: 100%;
    height: 90%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tras3 a{
    width: 20%;
    height: 10%;
    border-top: 1px;
    color: aliceblue;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
    transition: 1s;
}

.tras4 p{
    width: 100%;
    height: 90%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tras4 a{
    width: 20%;
    height: 10%;
    border-top: 1px;
    color: aliceblue;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
    transition: 1s;
}


.tras a:hover{
    background: yellow;
}

.tras2 a:hover{
    background: yellow;
}

.tras3 a:hover{
    background: yellow;
}

.tras4 a:hover{
    background: yellow;
}

/*                              QUEM SOU                              */
#Quemsou{
    width: 100%;
    display: flex;
    height: 350px;
    font-weight: 400;
    padding-top: 25px;
    line-height: 1.3em;
    justify-content: center;
    align-items: center;
    background: #17022e;
    font-family: DM Sans, sans-serif;
}

#SobreMim{
    width: 50%;
    height: 50%;
    font-size: 95%;
    min-width: 310px;
}

#SobreMim h2{
    width: 100%;
}

#SobreMim p{
    width: 100%;
    height: 90%;
}

                                        /*HABILIDADES*/
#Habilidades{
    border: 1px solid red;
    width: 100%;
    height: 350px;
    display: flex;
    font-weight: 400;
    padding-top: 25px;
    line-height: 1.3em;
    align-items: center;
    background: #17022e;
    justify-content: center;
    font-family: DM Sans, sans-serif;
}

.carta{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-auto-rows: 50px;
    gap: 1rem;
}

.HTML, .CSS, .JS, .Angular, .Git, .GitHub{
    width: 48px;
    height: 48px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.HTML{
    background-image: url(Imagens/Html.png);
}
.CSS{
    background-image: url(Imagens/Css.png);
}

.JS{
    background-image: url(Imagens/Js.png);
}

.Angular{
    background-image: url(Imagens/Angular.png);
}
.Git{
    background-image: url(Imagens/Git.png);
}

.GitHub{
    background-image: url(Imagens/GitHub.png);
}

footer{
    width: 100%;
    height: 10%;
}