*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    color: #193347;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

::-webkit-scrollbar{
    width: 2px;
    background: #FFB300;
}

::-webkit-scrollbar-thumb{
    width: 2px;
    border-radius: 20px;
    background-color: black;
}

body{
    height: 99%;
    min-height: 320px;
    text-align: center;
    align-items: center;
    font-family: Poppins, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    background: #585858;
    justify-content: space-between;
}

header p{
    width: 15%;
    height: 100%;
    display: flex;
    font-size: larger;
    color: aliceblue;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
}

header nav{
    width: 60%;
    height: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    border: 1px solid white;
}

header a{
    width: 15%;
    height: 100%;
    display: flex;
    margin-left: 20px;
    text-align: center;
    color: aliceblue;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

button{
    width: 80px;
    border: none;
    display: flex;
    border-radius: 20px;
    background: transparent;
    border: 2px solid black;
    animation: colorido 2s infinite alternate;
}

button a{
    width: 100%;
    height: 100%;
    display: flex;
    color: black;
    font-weight: 700;
    font-size: larger;
    text-decoration: none;
    justify-content: center;
    margin-left: 0 !important;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 780px) {
    main{
        width: 105%;
        height: 200%;
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
    }
}

#Esquerda{
    width: 100%;
    height: 101%;
    background: #09151b;
    justify-content: center;
    background-position:center;
    background-repeat: no-repeat;
    background-image: url(Imagens/Eu.png);
}

#Direita{
    width: 100%;
    height: 100vh;
    font-size:large;
    color: #193347;
    font-weight: 700;
    overflow-y: scroll;
    justify-content: end;
    background: #FFB300;
    scroll-snap-type: y mandatory;
}

#Direita div{
    scroll-snap-align: start;
}
#Apresentacao{
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    text-align: center;
    align-items: center;
    background: #FFB300;
    justify-content: center;
}

#Apresentacao p {
    width: 100%;
    margin-top: 10px;
    margin-left: 70px;
    text-align: center;
    align-items: center;
}

#Apresentacao h1{
    width: 75%;
    padding-top: 60px;
    margin-left: 70px;
}

#Apresentacao h3{
    width: 90%;
    text-align: left;
    margin-left: 20px;
}

#Apresentacao p{
    width: 80%;
    font-size: 90%;
    text-align: left;
}

#divGit{
    width: 95%;
    height: 40%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    margin-left: 10px;
    background: #FFB300;
    justify-content: center;
}
    
#Github, #LinkedIn, #Curriculo{
    width: 30%;
    height: 30%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#LinkedIn{
    margin-left: 10px;
}

#Projetos{
    width: 100%;
    height: 150%;
    background: #FFB300;
}

#Projetos button{
    margin: auto;
    margin-top: 140px;
}

#Projetos h1{
    height: 5%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#conteiner{
    width: 100%;
    height: 90%;
}

.Projeto, .Projeto1, .Projeto2{
    width: 80%;
    height: 25%;
    display: flex;
    margin-left: 10%;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    background-size: cover;
    justify-content: center;
    background-position: center;
}

#projeto{
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.Projeto3, .Projeto4, .Projeto5{
    width: 30%;
    height: 20%;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
}

.Projeto a{
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    color:white;
    margin-top: 170px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    justify-content: center;
}

.Projeto1 a{
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    color:white;
    margin-top: 170px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    justify-content: center;
}

.Projeto2 a{
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    color:white;
    margin-top: 170px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    justify-content: center;
}

.Projeto3 a{
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    color:black;
    margin-top: 170px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    justify-content: center;
}

.Projeto4 a{
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    color:black;
    margin-top: 170px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    justify-content: center;
}

.Projeto5 a{
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    color:black;
    margin-top: 170px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    justify-content: center;
}

.Projeto6 a{
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    color:black;
    margin-top: 170px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    justify-content: center;
}

.Projeto7 a{
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    color:black;
    margin-top: 170px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    justify-content: center;
}

.Projeto{
    background-image: url('Imagens/AgendaDeCompromisso.png');
}

.Projeto1{
    margin-top: 30px;
    background-image: url('Imagens/Chat.png');
}

.Projeto2{
    margin-top: 30px;
    background-image: url('Imagens/ConsultorDeCep.png');
}

#conhecimentos{
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#conhecimentos h1{
    width: 100%;
    height: 10%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#conhecimentos p{
    width: 90%;
    text-align: center;
    margin-top: 10px;
}

#idIcones{
    width: 100%;
    height: 50%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.HTML, .CSS, .JS, .VUE, .Angular{
    width: 15%;
    height: 40%;
    display: flex;
    margin-left: 10px;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
}

.HTML p{
    width: 100%;
    height: 20%;
    margin-left: -100px;
}

.HTML img{
    width: 100%;
    height: 80%;
    margin-top: 20px;
}

.CSS p{
    width: 100%;
    height: 20%;
    margin-left: -100px;
}

.CSS img{
    width: 100%;
    height: 80%;
    margin-top: 20px;
}

.JS p{
    width: 100%;
    height: 20%;
    margin-left: -100px;
}

.JS img{
    width: 100%;
    height: 80%;
    margin-top: 20px;
}

.VUE p{
    width: 100%;
    height: 20%;
    margin-left: -100px;
}

.VUE img{
    width: 100%;
    height: 80%;
    margin-top: 20px;
}

.Angular p{
    width: 100%;
    height: 20%;
    margin-left: -100px;
    margin-top: -10px;
}

.Angular img{
    width: 100%;
    height: 75%;
    margin-top: 30px;
}

#Contato{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

#Email{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#Email p{
    width: 80%;
    margin-top: 40px;
    text-align: left;
    align-items: center;
}

#Email img{
    margin-top: 25px;
    width: 50px;
    height: 50px;
}

#Contato p{
    margin-bottom: 10px;
}

#Contato form{
    width: 50%;
    height: 50%;
    margin-top: 70px;
}

#Contato label{
    width: 50%;
    height: 50%;
    margin-left: 10px;
    align-items: center;
}

#area{
    width: 70%;
    height: 30%;
    margin: auto;
    resize: none;
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    border-radius: 10px;
}

#Contato button{
    width: 80%;
    cursor: pointer;
    display: flex;
    margin-left: 23px;
    padding-left: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#Contato input{
    border: 1px solid black;
    border-radius: 20px;
}